<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        {% if user.is_authenticated %}
    <li>
        <a href="{% url "logout" %}">--Logout--</a>
        {% else %}
        <a href="{% url "signup" %}">--Sign Up--</a>
        <a href="{% url "login" %}">--Login--</a>
    </li>
        {% endif %}
</head>
<body>
    <header>
        <a href="{% url "home" %}">--Home--</a>
        <a href="{% url "account" %}">--Accounts--</a>
        <a href="{% url "categories" %}">--Expense Categories--</a>
        <a href="{% url "receipts_create" %}">--Create Receipts--</a>
        <a href="{% url "categories_create" %}">--Create Expense Category--</a>
        <a href="{% url "accounts_create" %}">--Create Account--</a>
    </header>
    {% block content %}
    {% endblock content%}
</body>
</html>